<mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 80vh;" matSort>

  <!-- Name Column -->
  <ng-container matColumnDef="county">
    <mat-header-cell *matHeaderCellDef mat-sort-header>County</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.county}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: right; justify-content: flex-end"> Confirmed </mat-header-cell>
    <mat-cell *matCellDef="let element" style="text-align: right; justify-content: flex-end"> {{element.total | number}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="totalPer100K">
    <mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: right; justify-content: flex-end"> Confirmed per 100K </mat-header-cell>
    <mat-cell *matCellDef="let element" style="text-align: right; justify-content: flex-end"> {{element.totalPer100K | number:'1.2-2'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

