<div fxLayout="column nowrap" style="align-items: center;">
  <div fxLayout="row" class="mat-display-1">Comics</div>
  <div fxLayout="row wrap" *ngIf="apikey.length">
    <img src="/api/comics?comic=adam&apikey={{ apikey }}" style="padding: .5rem;">
    <img src="/api/comics?comic=duplex&apikey={{ apikey }}" style="padding: .5rem;">
    <img src="/api/comics?comic=pooch&apikey={{ apikey }}" style="padding: .5rem;">
    <img src="/api/comics?comic=calvin&apikey={{ apikey }}" style="padding: .5rem;">
    <img src="/api/comics?comic=nancy&apikey={{ apikey }}" style="padding: .5rem;">
  </div>
</div>
