<div fxLayout="column" fxLayoutAlign="" style="padding: 10px;">
  <form [formGroup]="anagramForm" (ngSubmit)="onSubmit(anagramForm.value)">
    <div>
      <label for="input">
        Input
      </label>
      <input id="input" type="text" formControlName="input">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Results</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
