<div fxLayout="column" style="align-items: center;">
  <div class="mat-h1" style="padding-top: 10px;">California COVID-19 Graphs</div>
  <div *ngIf="!loading" class="mat-h2">From {{ startDate }} to {{ endDate }}</div>
  <div class="mat-h3">I have a hard time finding the graphs I want, so here are my own.
    Data is from  <a href="https://data.chhs.ca.gov/dataset/california-covid-19-hospital-data-and-case-statistics" target="_blank">California Health and Human Open Data Portal</a>.
    <!--      <li><a href="https://ourworldindata.org/">Our World in Data</a></li>-->
  </div>
  <div>
    <div class="mat-h3">Notes</div>
    <ul>
      <li>There are probably errors on how I process the data on this page. Don't rely on this page for anything serious.</li>
      <li>I don't when and how often CHHS refreshes their data. Seems to happen more than once a day, but I don't know the pattern.</li>
      <li>Population statistics from 2019 US Census.</li>
      <li>Confirmed cases are just that, as defined by CHHS. Which as we know is also determined by the level of testing.</li>
    </ul>
  </div>
  <div fxLayout="row" *ngIf="loading" >
    <mat-spinner></mat-spinner>
  </div>
</div>
<mat-tab-group *ngIf="!loading">
  <mat-tab label="New Cases">
    <div fxLayout="column" style="align-items: center;">
      <div fxLayout="row wrap"  fxLayoutAlign="center center">
        <app-chhs-graph  [data]="data" [chartType]="CovidChart.StateCasesByDay" title="New confirmed cases by day in California" [metric]="'Total Count Confirmed'"></app-chhs-graph>
        <app-chhs-graph  [data]="data" [chartType]="CovidChart.CasesByDay" [counties]="['Santa Cruz']" title="New confirmed cases by day in Santa Cruz" [metric]="'Total Count Confirmed'"></app-chhs-graph>
      </div>
      <div fxLayout="row wrap"  fxLayoutAlign="center center">
        <app-chhs-graph  [data]="data" [chartType]="CovidChart.CasesByDay"
                         [counties]="['San Francisco', 'Santa Clara', 'Alameda', 'San Mateo', 'Contra Costa', 'Marin', 'Solano', 'Sonoma', 'Napa']"
                         title="Bay Area confirmed cases by Day (Alameda, Contra Costa, Marin, Napa, Santa Clara, San Francisco, Solano, Sonoma)" [metric]="'Total Count Confirmed'">

        </app-chhs-graph>
        <app-chhs-graph  [data]="data" [chartType]="CovidChart.CasesByDay" [counties]="['Imperial', 'Kern', 'Los Angeles', 'Orange', 'Riverside', 'San Bernardino', 'San Diego', 'Santa Barbara', 'San Luis Obispo', 'Ventura']"
                         title="SoCal confirmed cases by Day ( Imperial, Kern, Los Angeles, Orange, Riverside, San Bernardino, San Diego, Santa Barbara, San Luis Obispo, Ventura)" [metric]="'Total Count Confirmed'"></app-chhs-graph>
      </div>
      <div fxLayout="row wrap"  fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>
            Pick a county, any county
          </mat-label>
          <mat-select  [(value)]="county">
            <mat-option *ngFor="let c of counties" value="{{ c }}">
              {{ c }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <app-chhs-graph [data]="data" [chartType]="CovidChart.CasesByDay" [counties]="[county]" [title]="county + ' confirmed cases by day'" [metric]="'Total Count Confirmed'"></app-chhs-graph>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Total Cases">
    <mat-tab-group>
      <mat-tab label="Graphs">
        <div fxLayout="column" style="align-items: center;">
          <div fxLayout="row"  >
            <app-chhs-horz-bar-graph [data]="data" [popAdjusted]="false"></app-chhs-horz-bar-graph>
          </div>
          <div fxLayout="row" style="flex-grow: 1" >
            <app-chhs-horz-bar-graph [data]="data" [popAdjusted]="true"></app-chhs-horz-bar-graph>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Table">
        <div fxLayout="column" style="align-items: center;">
          <app-totals-by-county-table [data]="data"></app-totals-by-county-table>
        </div>
      </mat-tab>

    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Deaths">
    <div fxLayout="column" style="align-items: center;">
      <div fxLayout="row wrap"  fxLayoutAlign="center center">
        <app-chhs-graph  [data]="data" [chartType]="CovidChart.StateCasesByDay" title="COVID Deaths by day in California" [metric]="'Total Count Deaths'"></app-chhs-graph>
        <app-chhs-graph  [data]="data" [chartType]="CovidChart.CasesByDay" [counties]="['Santa Cruz']" title="COVID Deaths by day in Santa Cruz" [metric]="'Total Count Deaths'"></app-chhs-graph>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
