<div fxLayout="column" style="align-items: center;">
  <div class="mat-display-1">California COVID-19 Graphs</div>
  <div *ngIf="!loading" class="mat-h2">From {{ startDate }} to {{ endDate }}.</div>
  <div class="mat-h3">I have a hard time finding the graphs I want, so here are my own.
  Data is from  <a href="https://data.chhs.ca.gov/dataset/california-covid-19-hospital-data-and-case-statistics" target="_blank">California Health and Human Open Data Portal</a>
      <!--      <li><a href="https://ourworldindata.org/">Our World in Data</a></li>-->
  </div>
  <div fxLayout="row" *ngIf="loading" style="padding-top: 20px;">
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
  </div>
  <div fxLayout="row wrap" *ngIf="!loading">
    <app-chhs-graph  [data]="data" [chartType]="CovidChart.TotalCases" title="Total cases in selected counties"></app-chhs-graph>
    <app-chhs-graph  [data]="data" [chartType]="CovidChart.CasesByDay" [county]="'Santa Cruz'" title="New Cases by Day in Santa Cruz" ></app-chhs-graph>
    <app-chhs-graph  [data]="data" [chartType]="CovidChart.CasesByDay" [county]="'San Francisco'" title="New Cases by Day in San Francisco"></app-chhs-graph>
    <app-chhs-graph  [data]="data" [chartType]="CovidChart.CasesByDay" [county]="'Santa Clara'" title="New Cases by Day in Santa Clara"></app-chhs-graph>
    <app-chhs-graph  [data]="data" [chartType]="CovidChart.CasesByDay" [county]="'Los Angeles'" title="New Cases by Day in Los Angeles"></app-chhs-graph>
    <app-chhs-graph  [data]="data" [chartType]="CovidChart.StateCasesByDay" title="New cases by day in California"></app-chhs-graph>
    <!--    <app-chhs-graph fxFlex="33%" [data]="data" [chartType]="CovidChart.StateCasesByDay"></app-chhs-graph>-->
  </div>
</div>
