<div>
  <p>
  Data from <a href="https://electionlab.mit.edu/data">MIT Election Data + Science Lab</a>
</p>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 80vw;" matSort>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
      <td mat-cell *matCellDef="let element"> {{element.year}} </td>
    </ng-container>

    <ng-container matColumnDef="democratSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="number">Democrat Seats</th>
      <td mat-cell *matCellDef="let element" class="number"> {{element.democratSeats | number}} ({{ element.democratSeatsPercent | number: '2.2-2' }}%) </td>
    </ng-container>

    <ng-container matColumnDef="republicanSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="number">Republican Seats</th>
      <td mat-cell *matCellDef="let element" class="number"> {{element.republicanSeats | number}} ({{ element.republicanSeatsPercent | number: '2.2-2' }}%) </td>
    </ng-container>

    <ng-container matColumnDef="independentSeats">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="number">Independent Seats</th>
      <td mat-cell *matCellDef="let element" class="number"> {{element.independentSeats | number }} ({{ element.independentSeatsPercent | number: '1.2-2' }}%) </td>
    </ng-container>

    <ng-container matColumnDef="democratVotes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="number">Democrat Votes</th>
      <td mat-cell *matCellDef="let element" class="number"> {{element.democratVotes | number }} ({{ element.democratVotesPercent | number: '2.2-2' }}%) </td>
    </ng-container>

    <ng-container matColumnDef="republicanVotes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="number">Republican Votes</th>
      <td mat-cell *matCellDef="let element" class="number"> {{element.republicanVotes | number }} ({{ element.republicanVotesPercent | number: '2.2-2' }}%)</td>
    </ng-container>

    <ng-container matColumnDef="independentVotes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="number">Independent Votes</th>
      <td mat-cell *matCellDef="let element" class="number"> {{element.independentVotes | number }} ({{ element.independentVotesPercent | number: '1.2-2' }}%)</td>
    </ng-container>
    <ng-container matColumnDef="winningVotes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="number">Winning Votes
      </th>
      <td mat-cell *matCellDef="let element"
                class="number"> {{element.winningVotes | number}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
</div>
