<h1>My Weather</h1>
<p>I have an <a href="https://ambientweather.com/amws2902.html">Ambient Weather Station</a>.
Here are its readings:</p>

Outdoor temperature (F): {{ weatherData?.outdoorTemp | number: '1.2'}}
<br>
Indoor temperature (F): {{ weatherData?.indoorTemp | number: '1.2'}}
<br>
Windspeed (MPH): {{ weatherData?.windSpeedMph | number: '1.2'}}
<br>
Wind direction (degrees from which the wind is blowing): {{  weatherData?.windDirection }}&deg;
<br>
Daily rain: {{  weatherData?.dailyRain | number: '1.2'}}
<br>
Reading time: {{ weatherData?.date | date : 'short' }}

<app-lochlomond></app-lochlomond>
